In [3]:
import pandas as pd

In [4]:
series = pd.Series( [5,10, 15, 20, 25 ])
series

0     5
1    10
2    15
3    20
4    25
dtype: int64

In [5]:
type(series)

pandas.core.series.Series

In [6]:
series[3]

20

In [8]:
cad = pd.Series( ['p', 'l', 'a', 't', 'z', 'i'])
cad

0    p
1    l
2    a
3    t
4    z
5    i
dtype: object

In [10]:
lst = ['Hola', 'mundo', 'róbotico']
df = pd.DataFrame(lst)
df

          0
0      Hola
1     mundo
2  róbotico

In [12]:
data = {
  'Nombre': ['Juan', 'Ana', 'Jose', 'Arturo'],
  'Edad': [25, 18, 23, 27],
  'Pais': ['MX', 'CO', 'BR', 'MX']
}
df = pd.DataFrame(data)
df

   Nombre  Edad Pais
0    Juan    25   MX
1     Ana    18   CO
2    Jose    23   BR
3  Arturo    27   MX

In [13]:
print(df[['Nombre', 'Pais']])

   Nombre Pais
0    Juan   MX
1     Ana   CO
2    Jose   BR
3  Arturo   MX

In [14]:
data = pd.read_csv('canciones-2018.csv')
data.head(5)

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,6DCZcSspjsKoFjzjrWoCd,God's Plan,Drake,0.754,0.449,7.0,-9.211,1.0,0.1090,0.0332,0.000083,0.552,0.357,77.169,198973.0,4.0
1,3ee8Jmje8o58CHK66QrVC,SAD!,XXXTENTACION,0.740,0.613,8.0,-4.880,1.0,0.1450,0.2580,0.003720,0.123,0.473,75.023,166606.0,4.0
2,0e7ipj03S05BNilyu5bRz,rockstar (feat. 21 Savage),Post Malone,0.587,0.535,5.0,-6.090,0.0,0.0898,0.1170,0.000066,0.131,0.140,159.847,218147.0,4.0
3,3swc6WTsr7rl9DqQKQA55,Psycho (feat. Ty Dolla $ign),Post Malone,0.739,0.559,8.0,-8.011,1.0,0.1170,0.5800,0.000000,0.112,0.439,140.124,221440.0,4.0
4,2G7V7zsVDxg1yRsu7Ew9R,In My Feelings,Drake,0.835,0.626,1.0,-5.833,1.0,0.1250,0.0589,0.000060,0.396,0.350,91.030,217925.0,4.0

In [18]:
# artista = data.artists
artista = data['artists']
artista[5]

'Post Malone'

In [19]:
info = data.iloc[15]
info

id                     3GCdLUSnKSMJhs4Tj6CV3
name                All The Stars (with SZA)
artists                       Kendrick Lamar
danceability                           0.698
energy                                 0.633
key                                      8.0
loudness                              -4.946
mode                                     1.0
speechiness                           0.0597
acousticness                          0.0605
instrumentalness                    0.000194
liveness                              0.0926
valence                                0.552
tempo                                 96.924
duration_ms                         232187.0
time_signature                           4.0
Name: 15, dtype: object

In [20]:
data.tail()

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
95,630sXRhIcfwr2e4RdNtjK,Rewrite The Stars,Zac Efron,0.684,0.619,10.0,-7.005,1.0,0.0386,0.0716,0.000000,0.1220,0.2840,125.046,217440.0,4.0
96,2xmrfQpmS2iJExTlklLoA,I Miss You (feat. Julia Michaels),Clean Bandit,0.638,0.658,3.0,-6.318,1.0,0.0456,0.2450,0.000004,0.0919,0.3300,105.076,205748.0,4.0
97,5WvAo7DNuPRmk4APhdPzi,No Brainer,DJ Khaled,0.552,0.760,0.0,-4.706,1.0,0.3420,0.0733,0.000000,0.0865,0.6390,135.702,260000.0,5.0
98,1j4kHkkpqZRBwE0A4CN4Y,Dusk Till Dawn - Radio Edit,ZAYN,0.258,0.437,11.0,-6.593,0.0,0.0390,0.1010,0.000001,0.1060,0.0967,180.043,239000.0,4.0
99,3EPXxR3ImUwfayaurPi3c,Be Alright,Dean Lewis,0.553,0.586,11.0,-6.319,1.0,0.0362,0.6970,0.000000,0.0813,0.4430,126.684,196373.0,4.0

In [22]:
data.shape

(100, 16)

In [23]:
data.columns

Index(['id', 'name', 'artists', 'danceability', 'energy', 'key', 'loudness',
       'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'duration_ms', 'time_signature'],
      dtype='object')

In [25]:
data['tempo'].describe()

count    100.000000
mean     119.904180
std       28.795984
min       64.934000
25%       95.730750
50%      120.116000
75%      140.022750
max      198.075000
Name: tempo, dtype: float64

In [26]:
data.sort_index(axis=0, ascending=False)

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
99,3EPXxR3ImUwfayaurPi3c,Be Alright,Dean Lewis,0.553,0.586,11.0,-6.319,1.0,0.0362,0.6970,0.000000,0.0813,0.4430,126.684,196373.0,4.0
98,1j4kHkkpqZRBwE0A4CN4Y,Dusk Till Dawn - Radio Edit,ZAYN,0.258,0.437,11.0,-6.593,0.0,0.0390,0.1010,0.000001,0.1060,0.0967,180.043,239000.0,4.0
97,5WvAo7DNuPRmk4APhdPzi,No Brainer,DJ Khaled,0.552,0.760,0.0,-4.706,1.0,0.3420,0.0733,0.000000,0.0865,0.6390,135.702,260000.0,5.0
96,2xmrfQpmS2iJExTlklLoA,I Miss You (feat. Julia Michaels),Clean Bandit,0.638,0.658,3.0,-6.318,1.0,0.0456,0.2450,0.000004,0.0919,0.3300,105.076,205748.0,4.0
95,630sXRhIcfwr2e4RdNtjK,Rewrite The Stars,Zac Efron,0.684,0.619,10.0,-7.005,1.0,0.0386,0.0716,0.000000,0.1220,0.2840,125.046,217440.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2G7V7zsVDxg1yRsu7Ew9R,In My Feelings,Drake,0.835,0.626,1.0,-5.833,1.0,0.1250,0.0589,0.000060,0.3960,0.3500,91.030,217925.0,4.0
3,3swc6WTsr7rl9DqQKQA55,Psycho (feat. Ty Dolla $ign),Post Malone,0.739,0.559,8.0,-8.011,1.0,0.1170,0.5800,0.000000,0.1120,0.4390,140.124,221440.0,4.0
2,0e7ipj03S05BNilyu5bRz,rockstar (feat. 21 Savage),Post Malone,0.587,0.535,5.0,-6.090,0.0,0.0898,0.1170,0.000066,0.1310,0.1400,159.847,218147.0,4.0
1,3ee8Jmje8o58CHK66QrVC,SAD!,XXXTENTACION,0.740,0.613,8.0,-4.880,1.0,0.1450,0.2580,0.003720,0.1230,0.4730,75.023,166606.0,4.0
0,6DCZcSspjsKoFjzjrWoCd,God's Plan,Drake,0.754,0.449,7.0,-9.211,1.0,0.1090,0.0332,0.000083,0.5520,0.3570,77.169,198973.0,4.0

## Reto

ordernar 3 columnas de forma ascendente

In [30]:
subdata = data[['artists', 'name', 'duration_ms']]
subdata

         artists                               name  duration_ms
0          Drake                         God's Plan     198973.0
1   XXXTENTACION                               SAD!     166606.0
2    Post Malone         rockstar (feat. 21 Savage)     218147.0
3    Post Malone       Psycho (feat. Ty Dolla $ign)     221440.0
4          Drake                     In My Feelings     217925.0
..           ...                                ...          ...
95     Zac Efron                  Rewrite The Stars     217440.0
96  Clean Bandit  I Miss You (feat. Julia Michaels)     205748.0
97     DJ Khaled                         No Brainer     260000.0
98          ZAYN        Dusk Till Dawn - Radio Edit     239000.0
99    Dean Lewis                         Be Alright     196373.0

[100 rows x 3 columns]

In [35]:
subdata.sort_values(by='duration_ms', axis=0, ascending=True)

         artists                                name  duration_ms
94  XXXTENTACION  Everybody Dies In Their Nightmares      95467.0
28  XXXTENTACION                      Jocelyn Flores     119133.0
38  XXXTENTACION                             changes     121887.0
22         Bazzi                                Mine     131064.0
18  XXXTENTACION                           Moonlight     135090.0
..           ...                                 ...          ...
29    Ed Sheeran                             Perfect     263400.0
74        G-Eazy               Him & I (with Halsey)     268867.0
73         Migos                     Walk It Talk It     276147.0
42  Travis Scott                          SICKO MODE     312820.0
21    Nio Garcia                     Te Bot? - Remix     417920.0

[100 rows x 3 columns]

In [37]:
subdata.sort_values(by='name', axis=0, ascending=True)

,artists,name,duration_ms
77,Sofia Reyes,"1, 2, 3 (feat. Jason Derulo & De La Ghetto)",201526.0
60,Anne-Marie,2002,186987.0
34,Luis Fonsi,?chame La Culpa,173720.0
15,Kendrick Lamar,All The Stars (with SZA),232187.0
47,Selena Gomez,Back To You - From 13 Reasons Why ? Season 2 S...,207905.0
...,...,...,...
23,5 Seconds of Summer,Youngblood,203418.0
38,XXXTENTACION,changes,121887.0
80,Billie Eilish,lovely (with Khalid),200186.0
16,Ariana Grande,no tears left to cry,205920.0
2,Post Malone,rockstar (feat. 21 Savage),218147.0

In [38]:
subdata.sort_values(by='artists', axis=0, ascending=True)

                artists                                    name  duration_ms
23  5 Seconds of Summer                              Youngblood     203418.0
55              6ix9ine  FEFE (feat. Nicki Minaj & Murda Beatz)     179405.0
88               Anitta                                Downtown     193456.0
60           Anne-Marie                                    2002     186987.0
65        Ariana Grande                          God is a woman     197547.0
..                  ...                                     ...          ...
38         XXXTENTACION                                 changes     121887.0
98                 ZAYN             Dusk Till Dawn - Radio Edit     239000.0
95            Zac Efron                       Rewrite The Stars     217440.0
14                 Zedd                              The Middle     184732.0
35         benny blanco         Eastside (with Halsey & Khalid)     173800.0

[100 rows x 3 columns]